<%- include('../partials/head.ejs') %>
<%- include("../partials/nav") %>
    <body class="product__body">
        
        <main class="product__main">
            <a href="/producto/lista-de-productos">
                <i id="arrow" class="fas fa-arrow-left"></i>
            </a>

            <section class="product__section">

                <article>
                    <img src="/images/imgs-product/<%- productID.images %>" alt="auricular">
                </article>

                <!-- <i class="fal fa-times"></i> -->

                <div class="container-r">
                        <div class="detail">
                            <h2>
                                <%= productID.product_name %> 
                            </h2>
                            <p>
                                Precio: <br>
                                $<%= productID.price %> <br> <br>
                                Color: <br>
                                <%= productID.color %> <br> <br>
                                Categoria: <br>
                                <%= productID.category.category_name %> <br> <br>
                                Marca:
                                <%= productID.brand.brand_name %> <br> <br>
                                
                                Descripción: <br>
                                <%= productID.description %> 
                            </p>
                        </div>
                        <div class="btn__detail">
                            <a href="" class="a__detail">COMPRAR</a>
                        </div>
                    </div>
            </section>
        </main>
        <%- include("../partials/footer") %>
    </body>
    </html>