<!-- HEAD -->
<!-- boton para subir a lo alto de la pagina -->
<%- include('../partials/up.ejs') %>
<%- include('../partials/head.ejs') %>
<!-- NAV -->
<%- include('../partials/nav.ejs') %>
<body id="product-list">

    <main class="container__product">

        <% categories.products.forEach(category => { %>
         
            <div class="card">
                
                <figure class="img-container">
                    <img class="img-0" src="/images/imgs-bg/bg-product.png" alt="background-product">
                    <!-- FONDO -->
                    <a href="/producto/lista-de-productos/<%= category.id %>"><img class="img-1" src="/images/imgs-product/<%= category.images ? category.images : "default-image.png" %> " alt="product"></a>
                    <!-- PRODUCTO -->
                </figure>
                <hr class="line__green">
                
                <div class="text-card">
                    <h2 class="name__card"> <%= category.product_name.slice(0,13) %> </h2>
                    <h2 class="number__card"> $<%= category.price %> </h2>
                    <p class="description-card"> 
                        Categoria: <%= categories.category_name %> <br>
                        Color: <%= category.color %> <br>
                        Descripción: <%= category.description.slice(0,45) %>...</p>
                        
                        <a class="mas carrito" href="">
                            <i class="fas fa-shopping-cart">
                                <p class="masp ">añadir al carrito</p>
                            </i>
                        </a>
                        <form id="form-comprar" action="" method="post">
                            <a class="comprar " href="">COMPRAR</a>
                        </form>
                    </div>
                </div>
                
            <% }) %>
            </main>
            
    <%- include('../partials/scripts.ejs') %>
</body>
</html>