<!-- HEAD -->
<%- include('../partials/head.ejs') %>

<!-- NAV -->
<%- include('../partials/nav.ejs') %>
<body id="product-list">


    <!-- <form class="form__product" action="" method="">
        <input type="search" placeholder="Buscar producto"><i class="fas fa-search"></i>
    </form>
 -->
    <main class="container__product">

        <% db.forEach(element => { %>
        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/imgs-bg/bg-product.png" alt="background-product">
                <!-- FONDO -->
                <img class="img-1" src="/images/imgs-product/<%- element.imagen %> " alt="product">
                <!-- PRODUCTO -->
            </figure>
            <hr>

            <div class="text-card">
                <h2 class="name-card"> <%= element.marca %> </h2>
                <h2 class="number-card"> $<%= element.precio %> </h2>
                <p class="description-card"> Modelo: <%= element.producto %> <br> Color: <%= element.color %> </p>
                <a class="mas carrito" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp ">añadir al carrito</p>
                    </i>
                </a>
                <form id="form-comprar" action="" method="post">
                    <a class="comprar " href="">COMPRAR</a>
                </form>
            </div>
        </div>
        <% }) %>

    </main>

    <%- include('../partials/scripts.ejs') %>
</body>
</html>