<%- include('../partials/head.ejs') %>

    <body>
        <main class="product__main">

            <i id="arrow" class="fas fa-arrow-left"></i>

            <section class="product__section">

                <article>
                    <img src="/images/imgs-product/<%- productID.imagen %>" alt="auricular">
                </article>

                <!-- <i class="fal fa-times"></i> -->

                <div class="container-r">
                        <div class="detail">
                            <h2>
                                <%= productID.marca %> 
                            </h2>
                            <p>
                                Precio: <br>
                                <%= productID.precio %> <br> <br>
                                Color: <br>
                                <%= productID.color %> <br> <br>
                                Categoria: <br>
                                <%= productID.categoria %> <br> <br>
                                
                                Descripción: <br>
                                <%= productID.descripcion %>
                            </p>
                        </div>
                        <div class="btn">
                            <a href="">COMPRAR</a>
                        </div>
                        
                    </div>
                </section>
            </main>
    </body>

    </html>