<!-- HEAD -->
<%- include('../partials/head.ejs') %>

<!-- NAV -->
<%- include('../partials/nav.ejs') %>
<body id="product-list">

    <main class="container__product">

<<<<<<< HEAD
        <% if(product) { %> <% product.forEach(element => { %>
=======
        <% if(product.length > 0) { %> 
            <% product.forEach(element => { %>
>>>>>>> 64a95096d358028279cd08031865a218765543ba
        <div class="card">

            <figure class="img-container">
                <img class="img-0" src="/images/imgs-bg/bg-product.png" alt="background-product">
                <!-- FONDO -->
                <a href="/producto/lista-de-productos/<%= element.id %>"><img class="img-1" src="/images/imgs-product/<%- element.images %> " alt="product"></a>
                <!-- PRODUCTO -->
            </figure>
            <hr class="line__green">

            <div class="text-card">
                <h2 class="name__card"> <%= element.product_name %> </h2>
                <h2 class="number__card"> $<%= element.price %> </h2>
                <p class="description-card"> 
                    Categoria: <%= element.category.category_name %> <br>
                    Marca: <%= element.brand.brand_name %> <br>
<<<<<<< HEAD
                    Color: <%= element.color %> </p>
=======
                    Color: <%= element.color %> <br>
                    Descripción: <%= element.description.slice(0,45) %>...
>>>>>>> 64a95096d358028279cd08031865a218765543ba
                <a class="mas carrito" href="">
                    <i class="fas fa-shopping-cart">
                        <p class="masp ">añadir al carrito</p>
                    </i>
                </a>
                <form id="form-comprar" action="" method="post">
                    <a class="comprar " href="">COMPRAR</a>
                </form>
            </div>
        </div>
        <% }) %> 
        <% } else { %>
            <div class="col-12">
<<<<<<< HEAD
              <h1 class="products-title" style="color: rgb(102, 255, 71)">
                No hay productos que coincidan con esa búsqueda
=======
              <h1 class="product-not-found">
                No hay producto que coincidan con tu búsqueda.
>>>>>>> 64a95096d358028279cd08031865a218765543ba
              </h1>
            </div>
        <% } %>

    </main>

    <%- include('../partials/scripts.ejs') %>
</body>
</html>
 