<!-- HEAD -->
<head>
    <%- include('./partials/head.ejs') %>
</head>

    
    <body class="body__home">
        <!-- HEADER -->
        <%- include('./partials/header.ejs') %>

        <!-- NAV -->
        <%- include('./partials/nav.ejs') %>

        <!-- MAIN DEL HOME -->
        <main class="main__home">

            <!-- <div id="black-screen">
                <div id="boton-play">
                    <i class="fas fa-play"></i>
                </div>
            </div> -->
                
            <div id="c-1">
                
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/home/branding/intel-1.jpg" class="d-block w-100" alt="IMAGEN UNO">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/branding/amd.jpg" class="d-block w-100" alt="IMAGEN DOS">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/branding/acer.jpg" class="d-block w-100" alt="IMAGEN TRES">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

               
            <div id="c-2">
                
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/home/branding/intel-1-mobile.jpg" class="d-block w-100" alt="IMAGEN UNO">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/branding/amd-mobile.jpg" class="d-block w-100" alt="IMAGEN DOS">
                    </div>
                    <div class="carousel-item">
                        <img src="/images/home/branding/acer-mobile.jpg" class="d-block w-100" alt="IMAGEN TRES">
                    </div>
                    </div>
                </div>

            </div> 
    
                <div class="container" id="container-2">
                <img src="/images/home/bg-2.png" alt="imagen 2">
    
                <div class="text">
                    <h2>TITTLE PRODUCT</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, debitis.</p>
                </div>
    
                <div class="product">
                    <img class="product-img" src="/images/home/product/product-1.png" alt="producto-2">
                </div>
    
            </div>
    
            <div class="container" id="container-3">
                <h2 class="h2_home">SOLO GAMING</h2>
            </div>
    
            <div class="container" id="container-4">
                <img class="container-img" src="/images/home/bg-4.png" alt="imagen 4">
    
                <div class="product">
                    <img class="product-img" src="/images/home/product/product-2.png" alt="producto-2">
                </div>
                <div class="text">
                    <h2>TITTLE PRODUCT</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, debitis.</p>
                </div>
            </div>
    
            <div class="container" id="container-5">
                <img src="/images/home/bg-5.jpg" alt="imagen 5">
    
                <div class="text">
                    <h2>TITTLE PRODUCT</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, debitis.</p>
                </div>
            </div>
    
    
            <div class="container" id="container-6">
                <img src="/images/home/bg-6.png" alt="imagen 6">
    
                <div class="text">
                    <h2>TITTLE PRODUCT</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, debitis.</p>
                </div>
            </div>
    
            <div class="grid-container">
                <div id="item1"></div>
                <div id="item2"></div>
                <div id="item3"></div>
                <div id="item4"></div>
                <div id="item5"></div>
                <div id="item6"></div>
                <div id="item7"></div>
            </div>
    
        </main>

        <!-- FOOTER -->
        <%- include('./partials/footer.ejs') %>

        <!-- SCRIPTS -->
        <%- include('./partials/scripts.ejs') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
   
  
    </body>

</html>