<!-- HEAD -->
<%- include('../partials/head.ejs') %>

    <body class="body__register">

        

        <%- include('../partials/nav.ejs') %>

            <!-- Registro -->
            <div id="registro">
                <h1>Registro</h1>
                <form class="register__form" action="/cuenta/registro" method="POST">
                    <nav class="register__container">
                        <!-- name -->
                        <label for="firstName"></label>
                        <input class="text" type="text" name="firstName" id="text" placeholder="Nombre" value="<%= locals.old && old.firstName %>">
                        <% if (locals.errors && errors.firstName) { %>
                            <small class="text-error"><%= errors.firstName.msg %></small>
                        <% } %>
                        <!-- lastname -->
                        <label for="lastName"></label>
                        <input class="text" type="text" name="lastName" id="text" placeholder="Apellido" value="<%= locals.old && old.lastName %>">
                        <% if (locals.errors && errors.lastName) { %>
                            <small class="text-error"><%= errors.lastName.msg %></small>
                        <% } %>
                            <!-- email -->
                        <label for="email"></label>
                        <input class="email" type="email" name="email" id="email" placeholder="Ingrese su email">
                        <% if (locals.errors && errors.email) { %>
                            <small class="text-error"><%= errors.email.msg %></small>
                        <% } %>
                        <!-- password -->
                        <label for="password"></label>
                        <input class="password" type="password" id="password" name="password" placeholder="Ingrese una contraseña">
                        <% if (locals.errors && errors.password) { %>
                            <small class="text-error"><%= errors.password.msg %></small>
                        <% } %>
                        <label for="password"></label>
                        <input class="password repeatPassword" type="password" id="password" name="repeatPassword" placeholder="Repita la contraseña">
                        <% if (locals.errors && errors.repeatPassword) { %>
                            <small class="text-error"><%= errors.repeatPassword.msg %></small>
                        <% } %>
                        <!-- check -->
                        <div class="form-ad-input_check">
                            <input type="checkbox" name="terms" id="check">
                            <label for="check">Acepto los términos y condiciones</label>
                            <% if (locals.errors && errors.terms) { %>
                                <small class="text-error"><%= errors.terms.msg %> </small>
                            <% } %>
                        </div>
                        <!-- button log in -->
                            <button class="button-register" type="submit" value="log-in">Registrarse</button>
                    </nav>
                </form>
                <p class="log_in">Ya estas registrado? <a class="log_in_link" href="/cuenta/iniciar-sesion"> Inicia Sesión</a></p>
            </div>

            <div class="networks">
                <!-- button facebook -->
                <button class="button-facebook"><img class="logo-face" src="/images/icons/icon-login-face.png"
                        alt="logo-face">Registrarse con Facebook</button>

                <!-- button google -->
                <button class="button-google"><img class="logo-google" src="/images/icons/icon-login-google.png"
                        alt="logo-google">Registrarse con Google</button>
            </div>

        <%- include('../partials/footer.ejs') %>

        <%- include('../partials/scripts.ejs') %>
    </body>

</html>