<!-- HEAD -->
<%- include('../partials/head.ejs') %>

    <body class="body__user__profile">

        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav.ejs') %>

            <!-- Mi Perfil -->
            <div class="user__edit">
                <h1 class="user__edit__title">Mi cuenta</h1>
                <form class="user__edit__form">
                    <nav class="user__edit__container">
                        <!-- image -->
                        <div class="avatar">
                            <img src="/images/imgs-users/<%= user.image %>" alt="img-user">
                        </div>
                        <h3 class="userProfile_title">Datos personales</h3>
                        <!-- datos personales -->
                        <p class="userProfile_item">Nombre: <%= user.first_name %></p>
                        <p class="userProfile_item">Apellido: <%= user.last_name %></p>
                        <p class="userProfile_item">Email: <%= user.email %></p>
                    </p>
                    <!-- mas datos -->
                        <h3 class="userProfile_title">Datos de contacto</h3>
                        <p class="userProfile_item">Teléfono: <%= user.phone ? user.phone : "---------" %></p>
                        <p class="userProfile_item">Dirección: <%= address !== null && address.address ? address.address : "---------" %></p>
                        <p class="userProfile_item">Código postal: <%= address !== null && address.pc ? address.pc : "-------" %></p>
                        <p class="userProfile_item">País: <%= address !== null && address.country ? address.country : "---------" %></p>
                        <p class="userProfile_item">Provincia: <%= address !== null && address.province ? address.province : "---------" %></p>
                        <p class="userProfile_item">Localidad: <%= address !== null &&  address.city ? address.city : "---------" %></p>
                    </p>
                        <!-- button edit account -->
                        <a href="/cuenta/editar-usuario/<%= user.id %>" class="button__edit__user">Editar cuenta</a>
                    </nav>
                </form>
            </div>

        <%- include('../partials/footer.ejs') %>

        <%- include('../partials/scripts.ejs') %>
    </body>

</html>