<!-- HEAD -->

<head>
    <%- include('./partials/head.ejs') %>
</head>


<body class="body__home">
    <!-- HEADER -->
    <%- include('./partials/header.ejs') %>
    
    <!-- NAV -->
    <%- include('./partials/nav.ejs') %>
    
    <!-- MAIN DEL HOME -->
    <main class="main__home">
        
        <!-- <div id="black-screen">
            <div id="boton-play">
                <i class="fas fa-play"></i>
            </div>
        </div> -->
        
        <!-- boton para subir a lo alto de la pagina -->
        <%- include('./partials/up.ejs') %>
        
        <div id="c-1">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/producto/lista-de-productos">
                            <img src="/images/home/branding/Banner1.jpg" class="d-block w-100" alt="IMAGEN UNO">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="/producto/lista-de-productos">
                            <img src="/images/home/branding/Banner2.jpg" class="d-block w-100" alt="IMAGEN DOS">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="/producto/lista-de-productos">
                            <img src="/images/home/branding/Banner3.jpg" class="d-block w-100" alt="IMAGEN TRES">
                        </a>
                    </div>
                    <div class="carousel-item">
                        <a href="/producto/lista-de-productos">
                            <img src="/images/home/branding/Banner4.jpg" class="d-block w-100" alt="IMAGEN CUATRO">
                        </a>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </div>

    
    <div id="c-2">
        
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="/producto/categoria/Teclados">
                        <img src="/images/home/branding/mobile1.jpg" class="d-block w-100" alt="IMAGEN UNO">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/producto/categoria/Gaming">
                        <img src="/images/home/branding/mobile2.jpg" class="d-block w-100" alt="IMAGEN DOS">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/producto/categoria/Gaming">
                        <img src="/images/home/branding/mobile3.jpg" class="d-block w-100" alt="IMAGEN TRES">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="/producto/categoria/Teclados">
                        <img src="/images/home/branding/mobile4.jpg" class="d-block w-100" alt="IMAGEN CUATRO">
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    
    
    <div class="container" id="container-2">
        <img src="/images/home/bg-2.png" alt="imagen 2">
        
        <div class="text">
            <h2>CONSOLAS</h2>
            <p>Para los gamers mas exigentes a precios economicos y de la mas alta calidad</p>
        </div>
        
        <div class="product">
            <a href="/producto/categoria/Gaming">
                <img class="product-img" src="/images/home/product/product-1.png" alt="producto-2">
            </a>
            
        </div>
        
    </div>
    
    
    <a href="/producto/categoria/Gaming">
        <div class="container" id="container-3">
            <img id="gif-home" src="/images/home/gif-solo-gaming.gif" alt="el gif">
                <div id="container-h2">
                    <p class="h2_home">LÍDERES EN TECNOLOGÍA</p>
                </div>
        </div>
    </a>
    
    <div class="container" id="container-4">
        <img class="container-img" src="/images/home/bg-4.png" alt="imagen 4">
        
        <div class="product">
            <a href="/producto/categoria/Monitores">
                <img class="product-img" src="/images/home/product/product-2.png" alt="producto-2">
                </a>
            </div>
            <div class="text">
                <h2>MONITORES</h2>
                <p>Monitores 4K full HD para horas de juego en la mas alta calidad</p>
            </div>
        </div>

        <div class="container" id="container-5">
            <a href="/producto/categoria/Teclados">
                <img src="/images/home/bg-5.jpg" alt="imagen 5">
            </a>
            
            
            <div class="text">
                <h2>TECLADOS</h2>
                <p>Los más ergonomicos y esteticos del mercado</p>
            </div>
        </div>
        
        
        <div class="container" id="container-6">
            <a href="/producto/categoria/Audio">
                <img src="/images/home/bg-6.png" alt="imagen 6">
            </a>

            <div class="text">
                <h2>AUDIO</h2>
                <p>Escucha tu música preferida o juga en línea con alta calidad y fidelidad</p>
            </div>
        </div>
        
        <div class="grid-container">
            <div style="cursor : pointer" id="item1"></div>
            <div style="cursor : pointer" id="item2"></div>
            <div style="cursor : pointer" id="item3"></div>
            <div style="cursor : pointer" id="item4"></div>
            <div style="cursor : pointer" id="item5"></div>
            <div style="cursor : pointer" id="item6"></div>
            <div style="cursor : pointer" id="item7"></div>
        </div>

    </main>
    
    <!-- FOOTER -->
    <%- include('./partials/footer.ejs') %>

    <!-- SCRIPTS -->
    <%- include('./partials/scripts.ejs') %>

    <script src="/js/homeProducts.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>


</body>

</html>