<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head-admin") -%>
    <link rel="stylesheet" href="../../../styles/admin-add-product.css">
</head>
<body>
    
    <%- include("../partials/nav") -%>
    
    <div id="container-admin">

        
        <%- include("../partials/aside-admin") -%>
            

        <main id="content">
            <p id="admin-welcome">
                Admin Add Product
            </p>

            <div id="container-form">         

                <form id="form-add" action="/registro" method="POST">
        
                    <input type="file" id="t-file">
        
                    <input type="email" name="" id="" placeholder="Nombre">
        
                    <input type="password" name="" id="" placeholder="Precio"> 
        
                    <input type="text" name="" id="description" placeholder="Descripción">

                    <input class="submit" type="submit" value="Añadir">
               
                </form>
        
            </div>

        </main>

    </div>
<%- include("../partials/admin-links") -%>

<%- include('../partials/scripts.ejs') %>

</body>
</html>