<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head-admin") -%>

    <link rel="stylesheet" href="../../../styles/admin-edit-product.css">
</head>
<body>
    
    <%- include("../partials/nav") -%>

    
    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">
            <p id="admin-welcome">
                Admin Edit Product
            </p>

            <form id="form-edit-product" action="" method="">
                <input type="search" placeholder="Buscar producto"><i class="fas fa-search"></i>
            </form>

            <main id="container">

                <% db.forEach(e => { %>
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/imgs-bg/bg-product.png" alt="background-product">
                        <!-- FONDO DEL PRODUCTO -->
                        <img class="img-1" src="/images/imgs-product/auricular.webp" alt="product">
                        <!-- IMAGEN DEL PRODUCTO -->
                    </figure>
                    <hr>
                    
                    <div <%= e.id %> class="text-card" >
                        <% array.forEach(e => { %>
                            <h2 class="name-card"><%= e.categoria.color %></h2>
                        }); 
                        %>

                        <h2 class="number-card">$ <%= e.precio %></h2>
                        <p class="description-card"><%= e.descripcion %></p>

                        <a class="mas" href="/"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>      

                </div>    
                <% }) %>           
                
            </main>

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <!-- <%- include('../partials/scripts.ejs') %> -->

</body>
</html>