

<%- include('../partials/head-admin.ejs') %>

<body class="body__index__admin">

    <%- include("../admin/admi-nav") -%>

    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">
             
                <p id="admin-welcome">
                    Bienvenido Admin: <br> 
                    <%= user.first_name %> 
                    <%= user.last_name %> 
                </p>
                
        </main>

    </div>

    <%- include('../partials/scripts.ejs') %>

</body>
</html>