<!DOCTYPE html>
<html lang="es">
<head>

    <%- include("../partials/head-admin") -%>

    <link rel="stylesheet" href="../../../styles/admin-edit-account.css">
</head>
<body>
    
    <%- include("../admin/admi-nav") -%>

    <div id="container-admin">


            <%- include("../partials/aside-admin") -%>

        <main id="content">
            <p id="admin-welcome">Editar Cuenta</p>
                
                <div id="container-form">         

                    <form id="form-add" action="/registro" method="POST">
            
                        <input type="file" id="t-file">
            
                        <input type="email" name="" id="" placeholder="Nombre/s">
            
                        <input type="password" name="" id="" placeholder="Apellido/s"> 
            
                        <input type="text" name="" id="" placeholder="Correo">

                        <input type="text" name="" id="" placeholder="Contraseña">
    
                        <input class="submit" type="submit" value="Guardar">
                   
                    </form>
            
                </div> 

            

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts.ejs') %>

</body>
</html>