
<head>
    <%- include('../partials/head-admin.ejs') %>
</head>
<body>

    <%- include('../partials/nav.ejs') %>

    <div id="container-admin">

        <div id="sidebar">
            <i id="cross" class="fas fa-times"></i>

            <div id="bar">

            </div>

            <div id="admin-info">
                <div id="picture-admin">
                    <img id="admin-pic" src="/images/home/bg-2.png" alt="admin-pic">
                    <a href="/admin-edit-account">
                        <i id="edit-admin" class="fas fa-pencil-alt"></i>
                    </a>
                </div>
                <p id="admin-name">Admin Nombre</p>
            </div>

            <%- include("../partials/aside-admin") -%>

            

        </div>

        <i id="hamburguer-admin" class="fas fa-bars"></i>

        <main id="content">
            <p id="admin-welcome">
                Bienvenido Admin <br> NOMBRE_ADMIN
            </p>

        </main>

    </div>

    <%- include('../partials/footer.ejs') %>

    <%- include('../partials/scripts.ejs') %>

</body>
</html>