<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head-admin") -%>
      <link rel="stylesheet" href="../../styles/admin-users.css">
</head>
<body class="admin_user">
    
    <%- include("../admin/admi-nav") -%>


    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">
            <p id="admin-welcome">
                Editar usuarios
            </p>

            <main id="container">
                <% users.forEach(element => { %>
                <div class="card">
                    
                    <figure class="img-container">
                        <!-- <img class="img-0" src="/images/product-list/" alt="background-product"> -->
                        <img class="img-1" src="/images/imgs-product/<%- element.image %> " alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card"><%= element.firstName %> </h2>
                        <%= element.id %>
                        <div id="admin-card">
                            <form action="/administrador/usuarios/<%= element.id %> " method="post">admin  <input id="admin-check" type="checkbox" name="check-admin"></form>              
                        </div>
                        <form class="delete-content" action="/administrador/usuarios/<%= element.id %>?_method=DELETE" method="POST">
                            <button class="delete-product" type="submit">
                                <i class="fas fa-times"></i>
                            </button>    
                            </form>
                    </div>

                </div>         
                <% }) %> 
                
            </main>
                        
        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts.ejs') %>

</body>
</html>