<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head-admin") -%>
        <link rel="stylesheet" href="../../../styles/admin-add-product.css">
</head>

<body class="admin__add__product">

    <%- include("../admin/admi-nav") -%>

        <div id="container-admin">

            <%- include("../partials/aside-admin") -%>

                <main id="content">
                    
                    <div id="container-form">
                        
                        <form id="form-add" action="/administrador/marcas" enctype="multipart/form-data"
                        method="POST">
                       
                            <input type="text" name="brand" id="" value="<%= locals.old && old.product %>"
                                placeholder="Marca">
                            
                                    <input class="submit" type="submit" value="Agregar">
                                    <select name="category" id="categorias-select">
                                        <% marcas.forEach(marca=> { %>
                                            <option value="<%= marca.id %> ">
                                                <%= marca.brand_name %>
                                            </option>
                                            <% }) %>
                                    </select>
                                    <input class="submit" type="submit" value="Eliminar">
                        </form>

                    </div>

                </main>

        </div>

        <%- include("../partials/admin-links") -%>

            <%- include('../partials/scripts.ejs') %>

</body>

</html>