<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head-admin") -%>
      <link rel="stylesheet" href="../../styles/admin-users.css">
</head>
<body>
    
    <%- include("../admin/admi-nav") -%>


    <div id="container-admin">

            <%- include("../partials/aside-admin") -%>

        <main id="content" style="height: 113vh;">
            <p id="admin-welcome">
                Admin Edit Users
            </p>

           

            <main id="container">
        
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>
        
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>

                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/product-list/bg-product.png" alt="background-product">
                        <img class="img-1" src="/images/product-list/auricular.webp" alt="product">
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card">lorem</h2>
                        
                        <div id="admin-card">                        
                            admin  <input id="admin-check" type="checkbox">
                        </div>
                    </div>

                </div>
                
            </main>

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts.ejs') %>

</body>
</html>