
<%- include("../partials/head-admin") -%>

<body class="admin__add__category__brand">

    <%- include("../admin/admi-nav") -%>

    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">




            <div id="container-form">

                <form id="form-add" action="/administrador/categorias" enctype="multipart/form-data" method="POST">

                    <input type="text" name="brandCategory" id="" value="<%= locals.old && old.brandCategory %>" placeholder="Agregar Categorías">
                        <% if (locals.errors && errors.brandCategory) { %>
                            <small style="color: red;">
                                <%= errors.brandCategory.msg %>
                            </small>
                        <% } %>

                    <input class="submit" type="submit" value="Agregar">

                </form>

                <form id="form-add-btm">

                    <div class="list">
                        <h3 class="title">Eliminar Categorias</h3>

                        <% categorias.forEach(element => { %>
                        <%= element.category_name %>
                        <form name="formularioEliminar" class="form__transparent" action="/administrador/categorias/<%= element.id %>?_method=DELETE" method="POST">
                            <button id="delete-category" class="delete-btn" type="submit">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                        <% }) %>
                    </div>
                </form>


            </div>

        </main>

    </div>

    <script src="/js/confirm/adminDeleteCategoryConfirm.js"></script>

    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts.ejs') %>

</body>

</html>