<!DOCTYPE html>
<html lang="en">
<head>

    <%- include("../partials/head-admin") -%>

    <link rel="stylesheet" href="../../../styles/admin-edit-product.css">
</head>
<body>
    
    <%- include("../partials/nav") -%>

    
    <div id="container-admin">

        <%- include("../partials/aside-admin") -%>

        <main id="content">
            <p id="admin-welcome">
                Admin Edit Product
            </p>

            <form id="form-edit-product" action="" method="">
                <input type="search" placeholder="Buscar producto"><i class="fas fa-search"></i>
            </form>

            <main id="container">
        <% db.forEach(element => { %>
            
                <div class="card">
                    
                    <figure class="img-container">
                        <img class="img-0" src="/images/imgs-bg/bg-product.png" alt="background-product">
                        <!-- FONDO DEL PRODUCTO -->
                        <img class="img-1" src="/images/imgs-product/auricular.webp" alt="product">
                        <!-- IMAGEN DEL PRODUCTO -->
                    </figure>
                    <hr>
        
                    <div class="text-card">
                        <h2 class="name-card"><%= element.marca %></h2>
                        <h2 class="number-card"><%= element.anio %></h2>
                        <p class="description-card"> Modelo: <%= element.modelo %> <br> Color: <%= element.color %> </p>

                        <a class="mas" href="/administrador/formulario-editar-producto"> <i class="fas fa-pencil-alt"></i> </a>
                        <i id="delete-product" class="fas fa-times"></i>
                    </div>
                </div>               

        <% }) %>
                

            </main>

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <!-- <%- include('../partials/scripts.ejs') %> -->

</body>
</html>