<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("../partials/head-admin") %> 
    <link rel="stylesheet" href="../../../styles/admin-edit-product-form.css">
     <!-- Validation Front Admin -->
     <script src="/js/validationEditProducts.js"></script>
</head>
<body>
    
    <%- include("../admin/admi-nav") -%>
    
    <div id="container-admin">
        
        <%- include("../partials/aside-admin") -%>
        
        <main id="content">
            <p id="admin-welcome">
                Estas editando: <%= product.product_name %>
            </p>
            
            <div id="container-form">         
                
                <form class="productsForm" id="form-add" action="/administrador/formulario-editar-producto/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    
                    <div id="last-img" class="container_last_img">
                        <img class="last_img" src="/images/imgs-product/<%= product.images %>" alt="imagen del producto">
                    </div>

                    <div class="img-container" id="img-preview"></div>

                    <!-- select image -->
                    <div class="input-file">
                        <div class="btn__update__image">
                            <p class="userUpdate_subtitle">Cambiar imagen de Producto</p>
                            <input class="inputFile" type="file" name="product-image" multiple>
                        </div>
                    </div>
                    <span class="inputFileErrors"></span>

                    <div id="marcas">

                        <select name="brand" class="brand-select" id="selectBrand"> 
                            <option hidden selected value="">Marca...</option>
                            <% locals.brands.forEach(brand=> { %>
                                <option value="<%= brand.id %>" <%- locals.old && old.brand == brand.id ? "selected" : brand.id == product.brand %>><%= brand.brand_name %>
                                </option>
                            <% }) %>
                        </select>
                            
                    </div> 
                    <span id="selectBrandErrors"></span>

                    <div id="categorias">
                        
                        <select name="category" class="categories-select" id="selectCategory"> 
                            <option selected hidden value="">Categoría...</option>
                            <!-- <option value="0" selected disabled>Categoría...</option> -->
                            <% locals.categories.forEach(category=> { %>   
                                <option value="<%- category.id %>" <%- locals.old && old.category == category.id ? "selected" : category.id == product.category ? "selected" : "" %>><%= category.category_name %></option>
                            <% }) %>
                        </select>
                            
                    </div> 
                    <span id="selectCategoryErrors"></span>

                            

                    <input type="text" name="product" id="product_name" value="<%= product.product_name %>" value="<%= locals.old ? old.product_name : product.product_name %>" placeholder="Producto">
                    <span id="productNameErrors"></span>
                    <% if (locals.errors && errors.product) { %>
                            <small class="text-error"><%= errors.product.msg %> </small>
                    <% } %>

                    <input type="number" name="price" id="price" value="<%= product.price %>" placeholder="Precio"> 
                    <span id="priceErrors"></span>
                    <% if (locals.errors && errors.price) { %>
                        <small class="text-error"><%= errors.price.msg %> </small>
                    <% } %>


                    <input type="text" name="color" id="color" value="<%= product.color %>" placeholder="Color/es">
                    <span id="colorErrors"></span>
                    <% if (locals.errors && errors.color) { %>
                        <small class="text-error"><%= errors.color.msg %> </small>
                    <% } %>

                    <input class="description" type="text" name="description" value="<%= product.description %>" placeholder="Descripcion"> 
                    <span id="descriptionErrors"></span>
                    <% if (locals.errors && errors.description) { %>
                        <small class="text-error"><%= errors.description.msg %> </small>
                    <% } %>


                    <!-- <button class="submit" type="submit" value="Guardar">Guardar</button> -->
                    <span id="submitErrors"></span>
                    <input class="submit" type="submit" value="Guardar">           
                </form>
                
        
            </div>

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts') -%>

</body>
</html>