<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head-admin") %> 
    <link rel="stylesheet" href="../../../styles/admin-edit-product-form.css">
</head>
<body>
    
    <%- include("../admin/admi-nav") -%>

    
    <div id="container-admin">

            <%- include("../partials/aside-admin") -%>
            

        <main id="content">
            <p id="admin-welcome">
                Estas modificando: <%= product.marca %>
            </p>

            <div id="container-form">         

                <form id="form-add" action="/administrador/formulario-editar-producto/<%= product.id %>?_method=PUT" method="POST">
        
                    <input type="file" name="" id="t-file">
                    <input value="<%= product.marca %>" type="text" name="aaa" id="" placeholder="Nombre">

                    <input value="<%= product.precio %>" type="number" min="0" max="1000000" step="10" name="precio" id="" placeholder="Precio"> 
                    
                    <div id="categorias">
                        
                        <label id="label-categoria" for="form-add">CATEGORIA</label>
                            <select name="categoria" id="categorias-select">
                                <option selected value="">...</option>
                                <% if(product.categoria == "Joystick"){ %>
                                        <option selected value="Joystick">Joystick</option>
                                    <% } else if(product.categoria == "Mouse"){%>
                                        <option selected value="Mouse">Mouse</option>
                                    <% } else if(product.categoria == "Monitor"){%>
                                        <option selected value="Monitor">Monitor</option>
                                    <% } else if(product.categoria == "Auriculares"){%>
                                        <option selected value="Auricular">Auricular</option>
                                    <% } else if(product.categoria == "Teclado"){%>
                                        <option selected value="Teclado">Teclado</option>
                                <% } %>
                                
                            </select>
                    </div>
                    
                    <input value="<%= product.color %>" type="option" name="colores" id="" placeholder="color/es">
                    <input value="<%= product.descripcion %>" type="text" name="" id="description" placeholder="Descripción"> 
                    
                    <button class="submit" type="submit" >Editar</button>
                </form>
                
        
            </div>

        </main>

    </div>
    <%- include("../partials/admin-links") -%>

    <%- include('../partials/scripts') -%>

</body>
</html>